* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signin-page {
    display: flex;
    height: 100vh;
}

.img-container {
    flex: 1.5;
    background-image: url('../images/loginregister.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.main-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contents {
    width: 100%;
    max-width: 500px;   
}

.hero-text {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #0f1060;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #161880;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0f1060;
}

.login-text {
    margin-top: 20px;
    text-align: center;
}

.login-text a {
    color: #161880;
    text-decoration: none;
    margin-left: 5px;
}

.login-text a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .img-container {
        display: none;
    }
}


.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.5s forwards;
}

.notification.error {
    background-color: #ff4444;
    box-shadow: 0 2px 5px rgba(255, 68, 68, 0.2);
}

.notification.success {
    background-color: #00C851;
    box-shadow: 0 2px 5px rgba(0, 200, 81, 0.2);
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}
