
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* copy from here */
.signin-page{
    height: 500px;
    width: 100%;
    background-color: bisque;
    display: flex;
}
.img-container{
    height: 800px;
    width: 70%;
    background-color: black;
    background-image: url("../images/heroimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main-section{
    /* text-align: center; */
    width:45%;
    background-color: rgb(255, 255, 255);
    height: 832px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents{
    height: 485px;
    width: 100%;
    background-color: #ffffff;
    margin: 40px;

}
.hero-text{
    font-size:35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(222, 222, 222);
   
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(222, 222, 222);
}
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(222, 222, 222);
}
.btn{
    display: flex;
    justify-content: center;
    
}
button{
    margin-top: 20px;
    height: 45px;
    border-radius: 200px;
    width: 180px;
    background-color:blue;
    border: 2px solid blue;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
}
button:hover{
    background-color:rgb(255, 255, 255);
    border: 2px solid blue;
    color:blue;
    transition-duration: 1000ms;
}
.login-text{
    text-align: center;
    margin-top: 20px;
}
